/*MAIN CSS*/
body {
  height: 100%;
}

div.container {
  width: 100%;
}

header {
  color: white;
  background-color: black;
  padding: 1em;
  text-align: center;
}

footer {
  padding: 1em;
  color: white;
  background-color: transparent;
  text-align: center;
  clear:right;
}

nav {
  float: left;
  max-width: 40%;
  margin: 0;
  padding: 1em;
  border-right: 1px solid gray;
  height: 800px;
  text-align: center;

}
nav p {
  padding: 0px;
  margin: 0px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul a {
  text-decoration: none;
}

article {
  margin-left: 8%;
  margin-right: 8%;
  padding: 1em;
  overflow: hidden;
  height: 100%;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

.test-btn {
  float: right;
}

ul.options {
  list-style-type: none;
  width: 15em;
  margin: 0.3em 0;
  padding: 0;
}

ul.options li {
  background: #def url(cross_bright.png) no-repeat 98% center;
  margin: 1px;
  padding: 0.1em 0.3em;
  cursor: pointer;
  color: #46a;
  font-weight: bold;
  border: solid 1px #cde;
}

table {
  width:100%;

}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: center;
}

th {  text-align: center;}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
  background-color:#fff;
}

table th {
  background-color: black;
  color: white;
}
.togglebtn {
float: right;
}
#showHistoricalData tr td:nth-child(7),th:nth-child(7),td:nth-child(8),th:nth-child(8),td:nth-child(9),th:nth-child(9){
  display:none;
  word-wrap: normal;
}
#showHistoricalData table tr th:nth-child(3),td:nth-child(4){
  min-width: 90px;
}
#showFullLogData table tr th:nth-child(3),td:nth-child(3){
max-width: 50%;
word-wrap: break-word;
}
#showFullLogData table tr th:nth-child(1),td:nth-child(1){
/*max-width: 10%;*/
word-wrap: break-word;
}
#showFullLogData table{
  table-layout: fixed;
}
#showFullLogData table tr th:nth-child(3),td:nth-child(3){
width: 70%;
word-wrap: break-word;
}

.menu-bar {
  text-align: center;
  background-color: black;
}

.menu-bar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: black;
  display:table;
  margin: 0 auto;
  padding: 0;
}

.menu-bar li {
  float: left;
}

.menu-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-bar li a:hover:not(.active) {
  background-color: #333;
}

.active {
  background-color: rgba(215, 233, 255, 0.5);
}
