/*MAIN CSS*/
body {
  height: 100%;
}

div.container {
  width: 100%;

}

header {
  color: white;
  background-color: black;
  padding: 1em;
  text-align: center;
}

footer {
  padding: 1em;
  color: white;
  background-color: transparent;
  text-align: center;
  clear:right;
}

/*SVG CSS*/
circle.child {
  pointer-events: all;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

.svg-content {
  float: right;
  margin-right: 0%;
  position: absolute;
  right: 0%;
}

.svg-section {
  display: inline-block;
  position: absolute;
  width: 40%;
  padding-bottom: 100vh;
  vertical-align: top;
  overflow: hidden;
  right: 0px;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}

text {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

/*BODY CSS*/
article {
  padding: 1em;
  overflow: hidden;
  height: 100%;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  margin: 30px;
}

#search-result {
  display: inline;
}

#selectedInfo {
  margin-left: 2%;
  padding-left: 10px;
  padding-right: 10px;
  width: 55%;
  float: left;
  /*display: table-cell;*/
}

.title {
  font-weight: bold;
  white-space: nowrap;
  padding-right: 8px;
  text-align: right;
}

tr, td {
  padding-left: 1%;
}

/*MENU CSS*/
.menu-bar {
  text-align: center;
  background-color: black;

}
.menu-bar ul {
  list-style-type: none;

  overflow: hidden;
  background-color: black;
  display:table;
  margin: 0 auto;
  padding: 0;
}

.menu-bar li {
  float: left;
}

.menu-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-bar li a:hover:not(.active) {
  background-color: #333;
}

.active {
  background-color: rgba(215, 233, 255, 0.5);
}
