body {
  height: 100%;
}

div.container {
    width: 100%;

}

header {
  color: white;
  background-color: black;
  padding: 1em;
  text-align: center;
}


footer {
    padding: 1em;
    color: white;
    background-color: transparent;
    text-align: center;
    clear:right;
}

nav {
    float: left;
    max-width: 40%;
    margin: 0;
    padding: 1em;
    border-right: 1px solid gray;
height: 800px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 10%;
    padding: 1em;
    overflow: hidden;
    height: 100%;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  margin: 30px;
}

ul.options {
    list-style-type: none;
    width: 15em;
    margin: 0.3em 0;
    padding: 0;
}

ul.options li {
    background: #def url(../images/cross_bright.png) no-repeat 98% center;
    margin: 1px;
    padding: 0.1em 0.3em;
    cursor: pointer;
    color: #46a;
    font-weight: bold;
    border: solid 1px #cde;
}

circle.child {
pointer-events: all;

}

circle.parent:hover {
    stroke: #ff7f0e;
    stroke-width: .5px;
}

svg {height: 800px;
float: right;}

.selected {
  display: inline-block;
}

.selectedTreatment {
  float: left;
}

.selectedVersion {
  float: right;
  margin-top: 6px;
  margin-left: 4px;
}

.submit-btn {
  margin-left: 17px;
}

.selectedInfo {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px #000033;
display: table-cell;
background-color: rgba(215, 233, 255, 0.5);
color: #46a;
}

#selectedTreatment {
  font-weight: bold;

}
