<!DOCTYPE html>
<meta charset="utf-8">
<html>
<style>


</style>
<head>

  <link rel="stylesheet" href="css/rads-style-admin.css">
  <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="test.json"></script> -->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- <script type=”text/javascript” src=”jquery-latest.pack.js”></script> -->
  <!-- <script type=”text/javascript" src=”admin.js” ></script> -->

</head>
<body onload="CreateTableFromJSONongoing();">
  <header>
    <h1>RADS prototype</h1>
  </header>
  <div class="menu-bar">
    <ul>
      <li><a  href="singleTreatment" >Run Treatment</a></li>
      <li><a href="treatmentCatalogue" >View Catalogue</a></li>
      <li><a href="admin" class="active">Submitted treatments</a></li>
    </ul>
  </div>


  <div class="container">

    <!-- <nav></nav> -->

    <article>
      <!-- <input id="clickbutton" type="button" onclick="CreateTableFromJSONongoing();CreateTableFromJSONhistorical();CreateTableFromJSONfulllogs();" value="Show logs" /> -->

      <h1>Ongoing Jobs</h1>

      <div id="showData" ></div>
      <br/>


      <h1>Historical Records</h1>
      <div id="showHistoricalData"></div>
      <br/>

      <h1>Full logs</h1>
      <div id="showFullLogData"></div>
      <br/>

    </article>

    <script>
    // document.addEventListener('DOMContentLoaded', function() {
    //

    // function move() {
    //   var elem = document.getElementById("progressBar");
    //   var width = 0;
    //   var id = setInterval(frame, 10);
    //   function frame() {
    //     if (width >= 100) {
    //       clearInterval(id);
    //     } else {
    //       width++;
    //       elem.style.width = width + '%';
    //       document.getElementById("label").innerHTML = width * 1  + '%';
    //     }
    //   }
    // }
    //load in treatment versions and description
    var logInfo;
    var logHistory;
    function readTextFile(file, callback) {
      var rawFile = new XMLHttpRequest();
      rawFile.overrideMimeType("application/json");
      rawFile.open("GET", file, true);
      rawFile.onreadystatechange = function() {
        if (rawFile.readyState === 4 && rawFile.status == "200") {

          callback(rawFile.responseText);
          allText = rawFile.responseText;
          lines = rawFile.responseText.split("\n");
          // console.log(lines);

        }
      }
      rawFile.send(null);
    };
    var myList;
    var addBrackets;
    var unstring;

    readTextFile('TController.log', function(logtext){
      logInfo = JSON.stringify(logtext);
      var  s = logtext.replace(/\n/g, ",");

      var newStr = s.substring(0, s.length-1);

      var addBrackets = '['+newStr+']'; //{"Logs":}
      // console.log(addBrackets);

      myList = JSON.parse(addBrackets);

      var myReversedArray = new Array();
      $(myList).each(function (key) {
        myReversedArray.unshift(myList[key]);
      });
      myList = myReversedArray;
      $(myList).each(function (key) {
        //  console.log(myList[key]);
      });

    });

    function CreateTableFromJSONongoing() {
      // alert("hello");

      logHistory = myList;
      // console.log(logHistory);
      //
      var logHistorylength = logHistory.length;
      // get header values
      var col = [];
      for (var i = 0; i < logHistory.length; i++) {
        for (var key in logHistory[i]) {
          if (col.indexOf(key) === -1) {
            col.push(key);
          }
        }
      }
      // Create table
      var table = document.createElement("table");
      // Create header
      var tr = table.insertRow(-1);                   // TABLE ROW.
      for (var i = 0; i < col.length; i++) {
        var th = document.createElement("th");      // TABLE HEADER.
        th.innerHTML = col[i];
        tr.class = "sortnr";
        tr.appendChild(th);

      }
      // Add data.
      for (var i = 0; i < logHistory.length; i++) {
        tr = table.insertRow(-1);
        for (var j = 0; j < col.length; j++) {
          var tabCell = tr.insertCell(-1);
          tabCell.innerHTML = logHistory[i][col[j]];
        }
      }

      table.id = "showDataTable";

      // add table to page.
      var divContainer = document.getElementById("showData");
      divContainer.innerHTML = "";
      divContainer.appendChild(table);

      $('#showData').find('tr').each(function(){
        $(this).find('th').eq(0).before('<th>JobID</th>');
        $(this).find('td').eq(0).before('<td></td>');
      });

      $('#showData tr').each(function() {
        var findid = $(this).find("td:nth-child(3)").text();
        var getid = findid.substring(0,13);
        if(getid === "TreatmentCont")
        // $(this).remove();
        console.log("");
        else
        $(this).find("td:first").text(getid);
        //  $('#showHistoricalData tr td:first').text(getid);
        // console.log(findid);
      });

      var seen = {};
      $('#showData tr').each(function() {
        var txt = $(this).find("td:first").text();

        if (seen[txt])
        $(this).remove();
        else
        seen[txt] = true;
      });
      $('#showData tr td:contains("Result")').parents("tr").remove();

      $('#showData tr').each(function() {
        var findmessage = $(this).find("td:nth-child(3)").text();
        var deleteid = findmessage.slice(15);
        $(this).find("td:nth-child(3)").text(deleteid);
      });
    };

    function CreateTableFromJSONhistorical() {
      try{
        logHistory = myList;

        //  console.log(logHistory);

        var col = [];
        for (var i = 0; i < logHistory.length; i++) {
          for (var key in logHistory[i]) {
            if (col.indexOf(key) === -1) {
              col.push(key);
            }
          }
        }
        // CREATE DYNAMIC TABLE.
        var table = document.createElement("table");
        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.
        var tr = table.insertRow(-1);                   // TABLE ROW.
        for (var i = 0; i < col.length; i++) {
          var th = document.createElement("th");      // TABLE HEADER.
          th.innerHTML = col[i];
          tr.appendChild(th);
        }
        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < logHistory.length; i++) {
          tr = table.insertRow(-1);
          for (var j = 0; j < col.length; j++) {
            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = logHistory[i][col[j]];
          }
        }
        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
        var divContainer = document.getElementById("showHistoricalData");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);

        $('#showHistoricalData').find('tr').each(function(){
          $(this).find('th').eq(0).before('<th>JobID</th>');
          $(this).find('td').eq(0).before('<td></td>');
        });

        $('#showHistoricalData tr').each(function() {
          var findid = $(this).find("td:nth-child(3)").text();
          var getid = findid.substring(0,13);
          if(getid === "TreatmentCont")
          // $(this).remove();
          console.log("");
          else
          $(this).find("td:first").text(getid);

        });
        var seen = {};
        $('#showHistoricalData tr').each(function() {
          var txt = $(this).find("td:first").text();

          if (seen[txt])
          $(this).remove();
          else
          seen[txt] = true;
        });
        // var check = $('#showHistoricalData tr td');
        // console.log(check);
        $('#showHistoricalData tr td:nth-child(3):not(:contains("Result"))').parents("tr").remove();


        $('#showHistoricalData tr').each(function() {
          var findmessage = $(this).find("td:nth-child(3)").text();
          var deleteid = findmessage.slice(13);
          var results = deleteid.substr(deleteid.indexOf("Good") + 0);
          var results1 = results.replace(/\"},{"msg":"/g,'. ');
          var results2 = results1.replace(/\"}]/g,'.');
          var results3 = results2.replace(/\,/g,', ');
          $(this).find("td:nth-child(3)").text(results3);

        });
      }catch(e) {};
    };

    function CreateTableFromJSONfulllogs() {

      logHistory = myList;
      var col = [];
      for (var i = 0; i < logHistory.length; i++) {
        for (var key in logHistory[i]) {
          if (col.indexOf(key) === -1) {
            col.push(key);
          }
        }
      }
      // CREATE DYNAMIC TABLE.
      var table = document.createElement("table");
      // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.
      var tr = table.insertRow(-1);                   // TABLE ROW.
      for (var i = 0; i < col.length; i++) {
        var th = document.createElement("th");      // TABLE HEADER.
        th.innerHTML = col[i];
        tr.appendChild(th);
      }
      // ADD JSON DATA TO THE TABLE AS ROWS.
      for (var i = 0; i < logHistory.length; i++) {
        tr = table.insertRow(-1);
        for (var j = 0; j < col.length; j++) {
          var tabCell = tr.insertCell(-1);
          tabCell.innerHTML = logHistory[i][col[j]];
        }
      }
      // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
      var divContainer = document.getElementById("showFullLogData");
      divContainer.innerHTML = "";
      divContainer.appendChild(table);

      $('#showFullLogData').find('tr').each(function(){
        $(this).find('th').eq(0).before('<th>JobID</th>');
        $(this).find('td').eq(0).before('<td></td>');
      });
      $('#showFullLogData tr').each(function() {
        var findid = $(this).find("td:nth-child(3)").text();
        var getid = findid.substring(0,13);
        if(getid === "TreatmentCont")
        $(this).remove();
        //console.log("");
        else
        $(this).find("td:first").text(getid);
        //  $('#showHistoricalData tr td:first').text(getid);
        // console.log(findid);
        // });
      });
      $('#showFullLogData tr').each(function() {
        var findlevel = $(this).find("td:nth-child(2)").text();
        if(findlevel === "debug")
        $(this).remove();
        // console.log("");
        else
        // var findid = $(this).find("td:nth-child(3)").text();var noid = findid.slice(15);$('#showFullLogData tr td:nth-child(3)').text(noid);
        console.log("");
      });
      $('#showFullLogData tr').each(function() {
        var findmessages = $(this).find("td:nth-child(3)").text();
        var deleteids = findmessages.slice(15);
        //       var results = deleteid.substr(deleteid.indexOf("Good") + 0);
        //       var results1 = results.replace(/\"},{"msg":"/g,'. ');
        //       var results2 = results1.replace(/\"}]/g,'.');
        //       var results3 = results2.replace(/\,/g,', ');
        $(this).find("td:nth-child(3)").text(deleteids);
        //
      });
    };





function refreshpage1() {

  CreateTableFromJSONongoing();
   CreateTableFromJSONhistorical();
   CreateTableFromJSONfulllogs();
}


    window.onload = function(){
        //time is set in milliseconds
        setTimeout(refreshpage1, 50);

}
//     // window.onload = function(){
//     //   // alert("Close me to see logs");
//     //   CreateTableFromJSONongoing();
//     //   CreateTableFromJSONhistorical();
//     //   CreateTableFromJSONfulllogs();
//     //   // document.getElementById('clickbutton').click();
//     }

    </script>
<!-- <script>
window.onload = function(){
  alert("Close me to see logs");
  CreateTableFromJSONongoing();
  CreateTableFromJSONhistorical();
  CreateTableFromJSONfulllogs();
  document.getElementById('clickbutton').click();
}
</script> -->


<!-- <script>
document.onreadystatechange = function () {
    if (document.readyState == "complete") {
        CreateTableFromJSONongoing();
    }
}
</script> -->


  </body>


  </html>
