<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
  <script type="text/javascript">
      function scanFilesFunc() {
        var all = [];
        all.push(document.getElementById("scanFile1").value);
        all.push(document.getElementById("scanFile2").value);
        document.getElementById("scanFiles").value = JSON.stringify(all) ;
          console.log('scanFile2:' + document.getElementById("scanFiles").value);
    }
    </script>
  </head>
<body>
    <form action="/treatment/do/clamAV/multiscan" method="post" onsubmit="scanFilesFunc()">
        Scan File Name1: <input name ="scanFile1" id="scanFile1" type="text" /> <br />
        Scan File Name2: <input name ="scanFile2" id="scanFile2" type="text" /> <br />
                        <input type="hidden" name ="scanFiles" id="scanFiles" >
        Treatment Type:  <select name="TreatmentType" >
                            <option value="ClamAV">ClamAV</option>
                            <option value="ClamAVFuture">ClamAVFuture</option>
                          </select>
        <br>
        Version :  <input name="Version" type="text" />
        <br />
        <input type="submit" />
    </form>
</body>
</html>
